*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
  font-family: "Work Sans", sans-serif;
}

.header{
  background-color: rgb(255, 255, 255);
  padding-top: 15px;
}
.container{
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
.logo{
  width: 70px;
  cursor: pointer;
  background-color: transparent;
}

.div-hamburger-menu{
  background-color: rgb(255, 255, 255);
  width: 25px;
  height: 25px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.div-hamburger-menu span{
  background-color: red;
  margin-bottom: 5px;
  height: 2px;
  width: 100%;
  
}
/*
  bootstrap media queries:
    - used to create responsive dynamically changed width based on screen width
*/

@media (min-width: 768px){
  .container{
    width: 750px;
  }
}

@media (min-width: 992px){
  .container{
    width: 97px;
  }
}

@media (min-width: 1200px){
  .container{
    width: 1170px;
  }
}